{% extends 'base.html' %}

{% block body %}
				</div>
			</div>
		</div>
	</div>
    <div class="collection_text mb-2">Login</div>
  <div class="layout_padding">
      <center><form class='p-3' action="{{ url_for('auth.login') }}" method='POST'>
            <input class="form-control" type="text" name='login' placeholder='Username or Email' required style="width:30%">
             <input class="form-control mt-1" type="password" name='pass' placeholder='Password' required style="width:30%">
             <br>
             <button class="btn btn-primary">Login</button>
             <div>
             {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}   
                    {% for category, msg in msgs %}
                        {% if category == 'error' %}
                        <span class="text-danger">{{ msg }}</span>
                        {% endif %}
                        {% if category == 'success' %}
                        <span class="text-success">{{ msg }}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
             {% endwith %}
             <a href="{{ url_for('auth.register', _external=True) }}">Not registered yet? Click here</a>
             </div>
             <div>
             <a href="{{ url_for('auth.new_password', _external=True) }}"> Forgot your Password? Click here</a>
             </div>
          </form></center>
  </div>

{% endblock %}
