{% extends 'base.html' %}

{% block body %}
				</div>
			</div>
		</div>
	</div>
    <div class="collection_text mb-2">Change your password</div>
  <div class="layout_padding">
      <center><form class='p-3' action="{{ url_for('auth.login') }}" method='POST'>
 <input class="form-control" type="text" name='pass' placeholder='New Password' required style="width:30%">
<input class="form-control mt-1" type="text" name='conf-pass' placeholder='Confirm New Password' required style="width:30%">
     <br>
     <button class="btn btn-primary">Change</button>
      </form></center>
  </div>

{% endblock %}
